{% extends 'flatpages/default.html' %} 

{% load custom_filters %}

{% block content %}

    <h1>Поиск новостей</h1>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>

    {% if filterset.qs %}
        {% for post in filterset.qs %}
            <hr>
            <h5> <a href="{{post.id}}">{{ post.title }}</a>  | ⭐️ {{ post.rating }}</h5>
            <p>{{ post.text | preview_text}}</p>
        {% endfor %}
    {% else %}
    <h1 style="padding: 15% 5%">Ой 🫢</h1>
    <h5>По вашему запросу ничего не найдено</h5>
        
    {% endif %}


{% endblock content %}
