{% extends 'flatpages/default.html' %} 

{% load custom_filters %}

{% block content %}

    <h1>Поиск новостей</h1>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>

    {% if filterset.qs %}
        {% for post in filterset.qs %}
            <hr>
            <h2> <a href="{{post.id}}">{{ post.title }}</a>  | ⭐️ {{ post.rating }}</h2>
            <p>{{ post.text | preview_text}}</p>
        {% endfor %}
    {% else %}
        <h1 style="padding: 22% 5%">Нет ничего, что соответствовало бы критериям</h1>
    {% endif %}


{% endblock content %}
